html{
    font-size: 62.5%;
    margin: 5rem;
    padding: 0;    
    background-color: antiquewhite;
}
header{
    font-family: 'Ephesis', cursive;
    text-align: center;
    font-size: 5rem;
}
.parent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
}
.standard-post{
    font-family: 'Fira Sans', sans-serif;
    padding: 3rem;
    width: 40rem;
    border: .3rem solid black;
    object-fit: contain; 
}