html{
    font-size: 62.5%;
    margin: 5rem;
    padding: 0;    
    background-color: antiquewhite;
}
header{
    font-family: 'Ephesis', cursive;
    text-align: center;
    font-size: 5rem;
}
h2{
    text-align: center;
    font-size: 2rem;
}
.parent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    object-fit: contain;
}
.standard-post{
    background-color: rgb(211, 252, 255);
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.15rem;
    margin: 2rem 2rem;
    padding: 5rem;
    width: 40rem;
    border: .3rem solid black;
    box-shadow: 1rem .5rem .5rem rgb(90, 100, 105);   
}

#torx{
    text-align: center;
    object-fit: fill;
    height: 75%;
    width: 75%;
}
#truss{
    text-align: center;
    object-fit: fill;
    height: 70%;
    width: 70%;
}
#flange{
    text-align: center;
    object-fit: fill;
    height: 70%;
    width: 70%;
}
#bugle{
    text-align: center;
    object-fit: fill;
    height: 70%;
    width: 70%;
}
#dome{
    text-align: center;
    object-fit: fill;
    height: 70%;
    width: 70%;
}
#int-hex{
    text-align: center;
    object-fit: fill;
    height: 70%;
    width: 70%;
}
#ext-hex{
    text-align: center;
    object-fit: fill;
    height: 70%;
    width: 70%;
}
#two-hole{
    text-align: center;
    object-fit: fill;
    height: 70%;
    width: 70%;
}
#square{
    text-align: center;
    object-fit: fill;
    height: 70%;
    width: 70%;
}
.standard-post:hover{
    background-color: rgb(134, 211, 246);
    transform: scale(1.1);
}
